#content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-family: sans-serif
}

@font-face {
    font-family: "norseBold";
    src: url(/resources/Norse-Bold.otf);
}

#leftpanel {
    /* border: red solid 2px; */
    height: 100vh;
    grid-column: "leftpanel";
    position: relative;
    background-image: url(/resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;

}

#rightpanel {
    /* border: blue solid 2px; */
    height: 100vh;
    grid-column: "rightpanel";
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(250, 250, 250);
}

#banner {
    height: auto;
    width: 100%;
    position: absolute;
    top: 200px;
    /* border: green solid 1px; */
    background-color: rgba(0, 0, 0, 0.5);
}

#bannercontent {
    /* border: pink solid 2px; */
    opacity: 1;
}

#bannerimage {
    /* border: red solid 2px; */
    display: block;
    max-height: 10vmax;
    margin-left: 15%;
    float: left;
    clear: left;
}


#bannertext {
    /* border: red solid 2px; */
    height: auto;
    width: auto;
    font-family: "norseBold";
    font-weight: bold;
    font-size: 10vmax;
    color: white;
    position: relative;
    text-align: center;
    margin-right: 15%;
    padding: 0px 0px;
    overflow: visible;
}

#acknowledgements {
    /* border: gold solid 2px; */
    color: white;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#acknowledgements a {
    color: white;
    font-weight: normal;
}

#description {
    /* border: green solid 1px; */
    position: relative;
}

#user-inputs {
    /* border: green solid 1px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px 3px lightgray;
}

#description-text {
    /* border: black solid 1px; */
    position: absolute;
    bottom: 0;
    margin: 50px 20px;
    font-weight: bold;
}

#prompt {
    font-weight: bold;
    margin: 20px;
}

#textboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

#textboxes label {
    font-family:'Courier New', Courier, monospace;
    font-size: 11px;
    font-weight: bold;
    color: darkslategray
}

.labelinput {
    display: grid;
    grid-auto-rows: auto;
    margin: 5px 5px;
    padding-right: 40px;
}

.labelinput input {
    border: #E5E7EB solid 2px;
}

#create-account {
    margin: 20px;
}

#create-account button {
    background-color: #596D48;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

#current-account {
    margin: 20px;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

input:focus {
    border: navy solid 2px;
    box-shadow: 1px 1px 2px 1px darkgray;
}

