#content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-family: sans-serif
}

#leftpanel {
    border: red solid 2px;
    height: 100vh;
    grid-column: "leftpanel";
    position: relative;
    background-image: url(/resources/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;

}

#rightpanel {
    border: blue solid 2px;
    height: 100vh;
    grid-column: "rightpanel";
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /*background-color: rgb(245, 245, 245);*/
}

#banner {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 200px;
    border: green solid 1px;
    background-color: black;
    opacity: 0.5;
}

#description {
    border: green solid 1px;
    position: relative;
}

#user-inputs {
    border: green solid 1px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px 3px lightgray;
}

#accounts {
    border: green solid 1px;
}

#description-text {
    border: black solid 1px;
    position: absolute;
    bottom: 0;
    margin: 50px 20px;
    font-weight: bold;
}

#prompt {
    font-weight: bold;
    margin: 20px;
}

#textboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

#textboxes label {
    font-family:'Courier New', Courier, monospace;
    font-size: 11px;
    font-weight: bold;
    color: darkslategray
}

.labelinput {
    display: grid;
    grid-auto-rows: auto;
    margin: 5px 5px;
    padding-right: 40px;
}

#create-account {
    margin: 20px;
}

#create-account input {
    background-color: darkolivegreen;
    color: white;
    padding: 8px 30px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

#current-account {
    margin: 20px;
}

a {
    color: darkolivegreen;
    text-decoration: none;
    font-weight: bold;
}